DATABASE_URI=postgres://josue@postgres:5432/josue
PAYLOAD_SECRET=your-secret-key-here
PORT=3000
REDIS_URL=redis://redis:6379
NEXTJS_REVALIDATE_URL=http://localhost:4000/api/revalidate
NEXTJS_FRONTEND_URL=http://localhost:4000
REVALIDATE_SECRET_TOKEN=tokentokentoken
PREVIEW_SECRET=tokentokentoken
PAYLOAD_DOMAIN_URL=http://localhost:3000
NAME_BUSINESS=PATARUTERA
S3_BUCKET=
S3_ACCESS_KEY_ID=KIA4MW2WAL5W5WSQLRM
S3_SECRET_ACCESS_KEY=
S3_REGION=
USER_WEBHOOK_URL=http://172.17.0.1:8081/webhooks/payload
USER_WEBHOOK_SECRET=my-secure-webhook-secret

AUTH_SECRET="sS/YOF+fkL++s3g6gp5b++3KHJ8YXrJ5wD4wAKcMNQM="

AUTH_URL=http://localhost:3000
AUTH_KEYCLOAK_ID=
AUTH_KEYCLOAK_SECRET=admin
AUTH_KEYCLOAK_ISSUER=http://172.17.0.1:8080/realms/quarkus
AUTH_KEYCLOAK_REALM=

NEXT_PUBLIC_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_AUTH_KEYCLOAK_ID=
NEXT_PUBLIC_AUTH_KEYCLOAK_ISSUER=http://172.17.0.1:8080/realms/quarkus
